.section2{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 34px 0;
}

.but-item{
    width: 184px;
    height: 184px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 4px;
    margin: 12px;
    color: #a7a7a7;
}
.but-item img{
    width: 74px;
    height: 55px;
    margin-bottom: 10px;
}
.but-item p{
    font-size: 20px;
}
.but-item:hover{
    width: 188px;
    height: 188px;
    cursor: pointer;
    margin: 10px;
}
@media screen and (max-width:1200px) {
    .but-item{
        width: 140px;
        height: 140px;
    }
    .but-item img{
        width: 64px;
        height: 47px;
        margin-bottom: 6px;
    }
    .but-item p{
        font-size: 15px;
    }
    .but-item:hover{
        width: 144px;
        height: 144px;
        cursor: pointer;
        margin: 10px;
    }
}