nav {
  height: 127px;

  background:#191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  position: relative;
  margin-bottom: 20px;
}

main{
  padding: 0 130px;
}
@media screen and (max-width:1500px) {
  nav, main{
    padding: 10px;
  }
}